<h3 class="ui header">{{t "forms.audit-test-simple-class2-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.field21
      class=(if (v-get validationObject "field21" "isInvalid") "error")
      label=(t "forms.audit-test-simple-class2-e.field21-caption")
    }}
    {{flexberry-validationmessage error=(v-get validationObject "field21" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.field22
      class=(if (v-get validationObject "field22" "isInvalid") "error")
      label=(t "forms.audit-test-simple-class2-e.field22-caption")
    }}
    {{flexberry-validationmessage error=(v-get validationObject "field22" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.audit-test-simple-class2-e.class1-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.class1
      relationName="class1"
      projection="Class1L"
      title=(t "forms.audit-test-simple-class2-e.class1-caption")
      readonly=readonly
      componentName="class1Lookup"
    }}
    {{flexberry-validationmessage error=(v-get validationObject "class1" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.class1.field11
      class=(if (v-get validationObject "class1.field11" "isInvalid") "error")
      label=(t "forms.audit-test-simple-class2-e.class1.field11-caption")
    }}
    {{flexberry-validationmessage error=(v-get validationObject "class1.field11" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.class1.field12
      class=(if (v-get validationObject "class1.field12" "isInvalid") "error")
      label=(t "forms.audit-test-simple-class2-e.class1.field12-caption")
    }}
    {{flexberry-validationmessage error=(v-get validationObject "class1.field12" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.audit-test-simple-class2-e.class4-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.class4
      relationName="class4"
      projection="Class4L"
      title=(t "forms.audit-test-simple-class2-e.class4-caption")
      readonly=readonly
      componentName="class4Lookup"
    }}
    {{flexberry-validationmessage error=(v-get validationObject "class4" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.class4.field41
      class=(if (v-get validationObject "class4.field41" "isInvalid") "error")
      label=(t "forms.audit-test-simple-class2-e.class4.field41-caption")
    }}
    {{flexberry-validationmessage error=(v-get validationObject "class4.field41" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.class4.field42
      class=(if (v-get validationObject "class4.field42" "isInvalid") "error")
      label=(t "forms.audit-test-simple-class2-e.class4.field42-caption")
    }}
    {{flexberry-validationmessage error=(v-get validationObject "class4.field42" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.audit-test-simple-class2-e.class3-caption"}}</label>
    {{flexberry-groupedit
      componentName="class3GroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.class3
      content=model.class3
      readonly=readonly
      orderable=false
      class=(if (v-get validationObject "class3" "isInvalid") "error")
    }}
    {{flexberry-validationmessage error=(v-get validationObject "class3" "messages")}}
  </div>
</form>