<h3 class="ui header">{{t "forms.audit-test-simple-class3-d.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.field31
      class=(if (v-get validationObject "field31" "isInvalid") "error")
      label=(t "forms.audit-test-simple-class3-d.field31-caption")
    }}
    {{flexberry-validationmessage error=(v-get validationObject "field31" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.field32
      class=(if (v-get validationObject "field32" "isInvalid") "error")
      label=(t "forms.audit-test-simple-class3-d.field32-caption")
    }}
    {{flexberry-validationmessage error=(v-get validationObject "field32" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.audit-test-simple-class3-d.class2-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.class2
      relationName="class2"
      projection="Class2L"
      title=(t "forms.audit-test-simple-class3-d.class2-caption")
      readonly=readonly
      componentName="class2Lookup"
    }}
    {{flexberry-validationmessage error=(v-get validationObject "class2" "messages")}}
  </div>

</form>