<h3 class="ui header">{{t 'forms.audit-test-simple-class4-e.caption'}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
<div class="field">
  {{flexberry-field
    placeholder=(t "components.flexberry-field.placeholder")
    readonly=readonly
    required=true
    value=model.field41
    class=(if model.errors.field41 "error")
    label=(t 'forms.audit-test-simple-class4-e.field41-caption')
    data-test-audit-test-simple-class4-e-field41=true
  }}
  {{flexberry-validationmessage error=model.errors.field41 pointing="pointing"}}
</div>
<div class="field">
  {{flexberry-field
    placeholder=(t "components.flexberry-field.placeholder")
    readonly=readonly
    required=true
    value=model.field42
    class=(if model.errors.field42 "error")
    label=(t 'forms.audit-test-simple-class4-e.field42-caption')
    data-test-audit-test-simple-class4-e-field42=true
  }}
  {{flexberry-validationmessage error=model.errors.field42 pointing="pointing"}}
</div>
</form>
